@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-shadow-blur: 2px;
  --text-color: white;
  --player-height: 0;
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgb(36, 36, 36); */
  background: url('./background.jpg');
  background-size: cover;
  background-position: center center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
  display: block;
}

video::cue {
  visibility: hidden;
  /* background: none;
  -webkit-text-stroke: 2px black;
  font-size: 75%;
  color: var(--text-color);
  text-shadow: 
        -2px 2px var(--text-shadow-blur) black,
        2px 2px var(--text-shadow-blur) black,
        2px -2px var(--text-shadow-blur) black,
        -2px -2px var(--text-shadow-blur) black,
        2px 0 var(--text-shadow-blur) black,
        0 2px var(--text-shadow-blur) black,
        0 -2px var(--text-shadow-blur) black,
        -2px 0 var(--text-shadow-blur) black; */
}

video::-webkit-media-controls {
  /* display:none !important; */
}
video::-webkit-media-controls-enclosure {
  /* display:none !important; */
}

main {
  max-width: 100%;
  width: 1200px;
  max-height: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#player{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 5px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s linear;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.76));
  z-index: 1;
}

.hide {
  opacity: 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 7px 0 0 0;
}

.top > input {
  width: 100%;
}

#volume {
  display: inline-flex
}

#volume > input {
  width: 50%;
}

#time {
  color: white;
  display: inline-block;
  cursor: default;
}

.svg-container {
  width: 30px;
  margin: 0 10px;
  background: transparent;
  color: white;
  border: none;
}

.left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-around;
}

main button, input[type=range], #time{
  filter: brightness(0.75);
}

button, input[type=range] {
  cursor: pointer;
}

button:hover, input[type=range]:hover, #time:hover {
  filter: brightness(1);
}

.active {
  /*filter: brightness(2);*/
}

.cursor-none {
  cursor: none;
}

#sync, #subtitle-color {
  background: white;
  padding: 5px 10px;
  transition: all 0.25s;
  border: 2px solid black;
  /* border-radius: 5px; */
}

#sync:hover, #subtitle-color:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}


#sync.green {
  background: rgb(0, 160, 0);
  border-color: darkgreen;
  color: black;
}

#subtitle-color.yellow {
  background-color: yellow;
}

#subtitle::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  right: 50%;
  background-color: var(--text-color);
  height: 3px;
  transition: all 0.25s ease-out;
}

#subtitle.active::after {
  left: 0;
  right: 0;
}

.subtitles.hidden {
  display: none;
}


.appear {
  animation: zoom-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s backwards;
}

@keyframes zoom-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.subtitle-holder {
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  pointer-events: none;
  user-select: none;
  text-align: center;
  bottom: 5%;
  position: absolute;
  width: 100%;
  font-size: min(3vw, 2rem);
  color: var(--text-color);
  text-shadow: 
  -2px 2px var(--text-shadow-blur) black,
  2px 2px var(--text-shadow-blur) black,
  2px -2px var(--text-shadow-blur) black,
  -2px -2px var(--text-shadow-blur) black,
  2px 0 var(--text-shadow-blur) black,
  0 2px var(--text-shadow-blur) black,
  0 -2px var(--text-shadow-blur) black,
  -2px 0 var(--text-shadow-blur) black;
}

.sub-top {
  top: 5%;
  bottom: unset;
}

.sub-center {
  top: 50%;
  bottom: unset;
  transform: translateY(-50%);
}

.subtitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  white-space: pre-wrap;
}

#sub-1, #sub-4, #sub-7 {
  align-items: flex-start;
}

#sub-2, #sub-5, #sub-8 {
  align-items: center;
}

#sub-3, #sub-6, #sub-9 {
  align-items: flex-end;
}

.subtitle-holder.fullscreen {
  font-size: min(3vw, 2.75rem);
  bottom: min(calc(var(--player-height) + 5px), 8%);
}

.subtitle-holder.fullscreen.sub-center {
  bottom: unset;
}

.subtitle-holder.fullscreen.sub-top {
  top: calc(var(--player-height) + 5px);
  bottom: unset;
}

.raise:not(.fullscreen) {
  bottom: var(--player-height);
}

@media only screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

#title {
  font-family: "Poppins", sans-serif;
  color: #f6d8d5;
  font-size: clamp(1rem, 3vw, 2rem);
  margin: 10px 0;
  text-align: center;
}

/*THEME*/
/*
.top > input {
  accent-color: orange;
}

#volume-range {
  accent-color: orange;  
}
*/



/*canvas*/

canvas {
  position: absolute;
  display: none;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  outline: 1px solid rgba(255, 0, 0, 0.5);
  outline-offset: -1px;
}

#paint {
  opacity: 0.25;
}

#paint.active {
  opacity: 1;
}

canvas.active {
  display: block;
}

#voteboard {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

@keyframes slidedown {
  from {transform: translateY(-100%)}
  to {translate: translateY(0)}
}

.animate-slidedown {
  animation-name: slidedown;
  animation-duration: 1s;
}

@keyframes phase {
  from {opacity: 0}
  to {opacity: 1}
}

.animate-darken {
  animation-name: phase;
  animation-duration: 1s;
}

.animate-reverse{
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

#voteboard, #voteboard > form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#voteboard > form, #voteboard > #score {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 460px;
  max-height: 75%;
  max-width: 75%;
  aspect-ratio: 1/1;
}

#voteboard > form {
  justify-content: space-around;
}

#voteboard > form::after, #voteboard > #score::after {
  border: 3px solid white;
  z-index: -1;
  filter: blur(0.25rem);
  content: "";
  display: block;
  background-color: rgba(134, 134, 134, 0.25);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#voteboard > form > input {
  padding: 10px;
  outline: 0;
  font-size: 2rem;
}

#voteboard > form > button {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid white;
  outline: none;
}

#voteboard > form > button:hover {
  background-color: rgb(255, 189, 65);
}

#score {
  justify-content: center;
}

#score > h1 {
  font-size: max(10vw, 5rem);
  opacity: 0;
}

#score > span {
  font-size: 2rem;
  opacity: 0;
}

#score ul {
  position: absolute;
  top: 0;
  right: 0%;
  /* transform: translate(-100%, 20px); */
  list-style-type: none;
  font-size: 2rem;
  margin: 20px;
}

#score ul > li {
  font-size: 2rem;
  opacity: 0;
  animation-duration: 1s;
  text-align: end;
}

@keyframes textappear{
  from {opacity: 0; filter: blur(5rem)}
  to {opacity: 1; filter: blur(0)}
}

.textappear {
  animation: textappear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

span.textappear {
  animation-duration: 0.5s;
}
